
body {
    font-family: 'Fira Code', 'Fira Mono', 'Consolas', 'Monaco', monospace;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

p {
    margin-bottom: 16px;
    font-size: 1.1em;
    color: #333;
}

h1, h2, h3, h4 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    margin-bottom: 40px;
    max-width: 30%;
    height: auto;
    border-radius: 8px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #575757;
    text-decoration: underline;

}

li {
    list-style: none;
    padding: 10px;
    
}

li:hover {
    background: #e9e8e8;
    border-radius: 4px;
    transition: background 0.4s;
    }


pre {
    margin-left: 40px;
    margin-top: 0px;
}

pre code {
    width: 30%;
    background: #272822;
    color: #f8f8f2;
    padding: 12px 16px;
    border-radius: 6px;
    font-size: 1.05em;
    display: block;
    overflow-x: auto;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    margin-bottom: 16px;
}

mark {
    background-color: #1a0d3157;
    color: #222;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 0 1px 4px rgba(255, 215, 0, 0.15);
}

mark:hover {
    background: linear-gradient(90deg, #7a718a57 0%, #1a0d3157 100%);
}
